{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1> Connexion </h1>
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form class="form-signin" method="post"> 
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Connectez vous</h1>
        <label for="inputEmail" class="sr-only">Adresse Mail</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Adresse Mail" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de Passe" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Se rappeler de moi
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Se connecter
        </button>
    
    
    </form>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}