{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form action="{{ path('check') }}" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}


    <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Mot de Passe" required>
    <br />
    <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me">Se rappeler de moi
            </label>
    </div>  
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token }}"
    >
     <button class="btn btn-lg btn-primary" id="_submit" name="_submit" type="submit">
        Se connecter
    </button>   
  
</form>
    <br />       
    <div>              
            <a  href="{{ path('forgotten_password') }}">Vous avez oublié votre mot de passe</a>
    </div>
{% endblock %}
