{% extends "base.html.twig" %}
{% block title %} En savoir plus sur cette équipe {% endblock %}

{% block titre3 %} <a {% if (progression) %} class ="btn btn-outline-success btn-lg" {% else %} class ="btn btn-primary btn-lg" {% endif %} 
	href="{{ path('cyberjury_evaluer_une_equipe', {'id': id_equipe } ) }}" >{{ equipe.lettre }}</a>   
    {{ equipe.titreProjet }}
 {#    <a href="https://olymphys.fr/public/upload/equipes/memoires/nat/{{ memoires.memoire }}" class="fas fa-book-reader" title="Accéder au mémoire de l'équipe" target="_blank"> </a>
#}
<a href="{{ path('cyberjury_phrases_amusantes', {'id': id_equipe} ) }}" class="fas fa-pencil-alt" title="Les phrases amusantes" > </a>

{% endblock %} 

{% block navigation %}
<button type="button" class="btn btn-outline-primary btn-lg btn-block"  > <span class="fas fa-user">  </span>           
{{ jure.prenomJure|title }} {{ jure.nomJure|title }} 
  </button>

{#{{ knp_menu_render('jury', {'currentClass': 'active'}) }}#}
{{ include ('cyberjury/navigation.html.twig') }}
{% endblock %}
{% block body %}
<div class="well">
  <ul>
	<li > L'établissement : {{ lycee.nom|title }}, ville : {{ lycee.commune|title }} , académie : {{ lycee.academie|title }} </li>
	<li  > Les enseignants :
                {% for prof in prof1 %}
                {{ prof.prenom|title}} {{ prof.nom|upper}}
            {% endfor %}
            {% for prof in prof2 %}
                - {{ prof.prenom|title}} {{ prof.nom|upper}}
             {% endfor %}
	</li> 
        <li> Les élèves : 
                <ul>
                    {% for eleve in listEleves %}
                        <li> {{ eleve.prenom|title }}  {{ eleve.nom|title }}, en classe de {{ eleve.classe }}</li>
                    {% endfor %}
                </ul>
        </li>
   </ul>

{% endblock %}