{% extends "base.html.twig" %}
{% block title %} Fichiers  de l'équipe {{equipe.infoequipe}}{% endblock %}



{% block titre3 %}
    <center>
    {{edition.ed}}<sup>e</sup>  édition : 
    {%if concours =='interacadémique'%}
   Concours interacadémique <br>
   {% if centre.centre != null %}
   Centre de {{centre.centre}}<br>
   {% endif %}
    {% endif %}
    {%if concours =='national'%}
        Concours national<br>
        {% endif %}
        <h4> Liste des fichiers de l'équipe "{{equipe.titreProjet}}" du lycée {{equipe.rneId.nom}}, {{equipe.rneId.commune}}</h4>
    <br>
    </center>
   
        
    


{% endblock %}


{% block body %}
    <div class="well">
       <table>  
            {% for form in formtab %}
                 {% form_theme form 'bootstrap_4_layout.html.twig' %}
                 {{ form_start(form) }}
                <div class="my-custom-class-for-errors">
                    {{ form_errors(form) }}
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_row(form.fichier, {  'class':'custom-file-input'}) }}
                    </div>
                    <div class="col" id="some-custom-id">
                        {% if loop.index<loop.length %}
                            {{ form_widget(form.save, { 'label': 'Télécharger' }) }}
                        {% else %}
                            {{ form_widget(form.save, { 'label': 'Tout télécharger' }) }}
                        {% endif %}
                    </div>
                </div>
                {{ form_end(form) }}         
                <hr> 
            {% endfor %} 
        </table>
    <div class="well" >
        {% if (role== 'ROLE_JURY') or (role== 'ROLE_COMITE') or (role== 'ROLE_JURYCIA') or (role== 'ROLE_ORGACIA') or (role== 'ROLE_SUPER_ADMIN')%}   

            {% if concours=='interacadémique' %}
                <center><a href="{{ path('fichiers_choix_equipe',{choix: centre.centre}) }}" >Retour à la liste des équipes</a></center>
           {% endif %}
           {% if concours=='national' %}
                <center><a href="{{ path('fichiers_choix_equipe',{choix:'liste_cn_comite'})  }}" >Retour à la liste des équipes</a></center>
           {% endif %} 
            {% endif %}
             {% if role=='ROLE_PROF' %}   
            
            <center><a href="{{ path('fichiers_choix_equipe',{choix:'liste_prof'})  }}" >Retour à la liste des équipes</a></center>
           
        {% endif %}
    </div>
       
    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js" ></script> 
        {#<script src="./coverage/bs-custom-file-input.js"></script>#}
        <script>
            {# $(document).ready(function () {
                bsCustomFileInput.init()
            })#}
                bsCustomFileInput.init()
        </script>
    {% endblock %}  
{% endblock %}


