{% extends "base.html.twig" %}
{% block title %} Liste des memoires{% endblock %}



{% block titre3 %}
    {% if concours=='cia' %}
   Liste des memoires des équipes non sélectionnées lors des épreuves interacadémiques
    {% endif %}
    {% if concours=='cn' %}
    Liste des memoires des épreuves nationales 
    {% endif %}
   {%  dump(edition) %}
    de la {{edition.ed}}<sup>e</sup> édition.
    {% endblock %}


{% block body %}
    <div class="well">
    
                          
        {% for fichiers in fichiersequipes %}
         
             <div class="col">
                
                  {% set memoire=null %}{% set annexe=null %} {% set  resume= null %}
                {% for fichier in fichiers %}
                    
                    {% if fichier.annexe is defined%}
                    {% if fichier.annexe==0 %}
                      {% set memoire=fichier %}
                        
                    {% endif %}
                     {% if fichier.annexe==1 %}
                       {% set annexe=fichier %}                        
                    {% endif %}
                 {% else %}
                    {% set resume=fichier %}
                    {%endif %}
                  {% endfor %}  
                
                  {% if memoire is not null %}
                    {% if concours=='cia' %}
                    <a href="{{asset('/upload/equipes/memoires/inter/'~memoire.memoire)}}">{{memoire.equipe.titreProjet}}</a>
                      {% endif %}
                    {% if concours=='cn' %}
                        {{memoire.equipe.lettre}} - 
                     <a href="{{asset('/upload/equipes/memoires/nat/'~memoire.memoire)}}">{{memoire.equipe.titreProjet}}</a>
                    {% endif %}
                  
                    <h8><i>Lycée {{memoire.equipe.rneId.nom}}, {{memoire.equipe.rneId.commune}} </i> </h8>
                    {% endif %}
                     
                    
                    (
                    {% if annexe is not null %}
                        
                     {% if concours=='cia' %}
                    <a href="{{asset('/upload/equipes/memoires/inter/'~annexe.memoire)}}">annexe</a>
                      {% endif %}
                    {% if concours=='cn' %}
                     <a href="{{asset('/upload/equipes/memoires/nat/'~annexe.memoire)}}">annexe</a>
                    {% endif %}
                      ,
                    {% endif %}
                    {% if resume is not null %}
                  <a href="{{asset('/upload/equipes/resumes/'~resume.resume)}}">resumé</a>   
                  {% endif %}
                  )
                  
                </div>
         {% endfor %}           
              
           
           
        </div>
          
 
    <div class="well" >
       
            <center><a href="{{ path('fichiers_choixedition',{type_fichier:'memoire'})  }}" >Retour au choix des mémoires</a></center>
        
    </div>
       
    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js" ></script> 
        {#<script src="./coverage/bs-custom-file-input.js"></script>#}
        <script>
            {# $(document).ready(function () {
                bsCustomFileInput.init()
            })#}
                bsCustomFileInput.init()
        </script>
    {% endblock %}  
{% endblock %}


