{% extends "base.html.twig" %}
{% block title %} Les équipes du concours national {% endblock %}



{% block titre3 %}Liste des  équipes sélectionnées  {% endblock %}


{% block body %}
    <div class="well">
{% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-info"> {{ message }}</div>
  {% endfor %}       
   
        <table> 
            {%set i = 0 %} 
    {% for equipe in liste_equipes %}
        {% if equipe.lettre != null %}
        <div class="row">
            <div class="col">
                {% if memoire_dep[i] ==true %}
                    <font color ='green' ><b>
                      {{ equipe.lettre }} - {{ equipe.titreProjet }}  : {{nombre_fichiers[i]}} fichier(s) déposé(s)
                    </b></font>
                      {% else %}
                      <font color ='gray'>
                      {{ equipe.lettre }} - {{ equipe.titreProjet }} :  {{nombre_fichiers[i]}} fichier(s) déposé(s)
                      </font>    
                {% endif %}
                {% set i = i +1 %} 
                 <hr>
                </div>
                <div class="col">
     <a class="btn btn-primary" href="{{ path('fichiers_afficher_liste_fichiers_prof_cn', {'id_equipe': equipe.id} ) }}" >Voir</a>
                  
                </div>
                 
     </div>
     {% endif %}
    {% endfor %}
           
        </table>
    </div>
   
      
      
 {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js" ></script> 
        {#<script src="./coverage/bs-custom-file-input.js"></script>#}
        <script>
            {# $(document).ready(function () {
                bsCustomFileInput.init()
            })#}
                bsCustomFileInput.init()
        </script>
    {% endblock %}  
    
{% endblock %}
